/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

.logo-text {
    font-family: 'Calligraffitti', cursive, sans-serif;
    font-size: 6vh;
    cursor: pointer;
}