a {
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 30vw;
    border: 1px solid grey;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.button {
    height: 2vh;
    width: 5vw;
    margin: 1vw;
    border-radius: 9999px;
    font-size: 1.25vw;
    color: white;
    background-color: rgb(20 184 166);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(94 234 212);
    cursor: pointer;
}

.button-container {
    display: flex;
}

.loggedIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
