.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    border: 1px solid grey;
    padding: 1vw;
    border-radius: 10px;
}

.signup-button {
    height: 2vh;
    width: 5vw;
    border-radius: 9999px;
    font-size: 1.25vw;
    color: white;
    background-color: rgb(20 184 166);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-weight: bold;
}

.error-container {
    display: flex;
    flex-direction: column;
}