.todos-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35vw;
}

.todos-card-container {
    margin: 1vw;
    margin-top: -0.5vw;
    max-height: 70vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 0.25vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(20 184 166);
  border-radius: 9999px;
  height: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: teal;
}
